@font-face {
  font-family: pfdin-light;
  src: url("../fonts/pfdin/pfdintextpro-light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: pfdin-medium;
  src: url("../fonts/pfdin/pfdintextpro-medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: pfdin-regular;
  src: url("../fonts/pfdin/pfdintextpro-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: pfdin-thin;
  src: url("../fonts/pfdin/pfdintextpro-thin.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: pfdin-xblack;
  src: url("../fonts/pfdin/pfdintextpro-xblack.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: pfdin-xthin;
  src: url("../fonts/pfdin/pfdintextpro-xthin.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: fira-regular;
  src: url("../fonts/fira/FiraSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: fira-medium;
  src: url("../fonts/fira/FiraSans-Medium.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: fira-bold;
  src: url("../fonts/fira/FiraSans-Bold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: fira-semibold;
  src: url("../fonts/fira/FiraSans-SemiBold.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: fira-light;
  src: url("../fonts/fira/FiraSans-Light.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

.content__main-trainings-blocks {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .content__main-trainings-blocks p {
    line-height: 25px; }
  .content__main-trainings-blocks a {
    padding-top: 20px;
    color: #b52a2c; }
  .content__main-trainings-blocks span {
    display: block;
    color: #a2a2a2;
    text-decoration: none;
    font-size: 14px; }

.content__main-trainings-title {
  margin-bottom: 10px; }

.section-photo {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 45px 0 45px;
  z-index: 1; }

.section-photo .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 0 180px; }

.content__photo-title {
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.content__photo-title h2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.content__photo-blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
  z-index: 2; }

.content__photo-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 192px;
  height: 150px;
  margin: 15px;
  -webkit-background-size: cover !important;
          background-size: cover !important;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  -o-transition: opacity 0.4s ease, transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease; }
  .content__photo-block.show {
    opacity: 1;
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transition-delay: 300ms;
         -o-transition-delay: 300ms;
            transition-delay: 300ms;
    -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
    transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
    -o-transition: opacity 0.4s ease, transform 0.4s ease;
    transition: opacity 0.4s ease, transform 0.4s ease;
    transition: opacity 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease; }

.content__video-blocks {
  position: relative;
  z-index: 2; }

.content__photo-block:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: rgba(181, 42, 44, 0.5);
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-border-radius: 20%;
          border-radius: 20%;
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  z-index: -1;
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  -o-transition: opacity 0.4s ease, transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease; }

.content__photo-block:hover:after {
  opacity: 1;
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  -o-transition: opacity 0.4s ease, transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease; }

.content__photo-block:hover span {
  background: #fff;
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: -webkit-transform .4s ease;
  transition: -webkit-transform .4s ease;
  -o-transition: transform .4s ease;
  transition: transform .4s ease;
  transition: transform .4s ease, -webkit-transform .4s ease; }

.content__photo-more-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px; }

.section-video {
  background: #fcfcfc; }

.section-partners {
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 45px 0 45px;
  z-index: 1; }

.section-partners .content {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  padding: 0 180px; }

.content__partners-title {
  width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.content__partners-title h2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.content__partners-blocks {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap; }

.content__partners-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 130px;
  height: 130px;
  margin: 15px;
  -webkit-background-size: cover !important;
          background-size: cover !important;
  border: 1px solid #ddd;
  opacity: 0;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  -o-transition: opacity 0.4s ease, transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease; }
  .content__partners-block.show {
    opacity: 1;
    -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
            transform: scale(1, 1);
    -webkit-transition-delay: 300ms;
         -o-transition-delay: 300ms;
            transition-delay: 300ms;
    -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
    transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
    -o-transition: opacity 0.4s ease, transform 0.4s ease;
    transition: opacity 0.4s ease, transform 0.4s ease;
    transition: opacity 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease; }

.content__partners-block:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: rgba(181, 42, 44, 0.5);
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-border-radius: 20%;
          border-radius: 20%;
  -webkit-transform: scale(0, 1);
      -ms-transform: scale(0, 1);
          transform: scale(0, 1);
  z-index: -1;
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  -o-transition: opacity 0.4s ease, transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease; }

.content__partners-block:hover:after {
  opacity: 1;
  -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  transition: opacity 0.4s ease, -webkit-transform 0.4s ease;
  -o-transition: opacity 0.4s ease, transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transition: opacity 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease; }

.content__partners-info-block {
  padding: 0 66px; }

.content__partners-info-block p {
  padding-top: 20px; }
