@media only screen and (max-width: 1366px), screen and (max-height: 768px) {
  body {
    background: url(../img/bg_1366.png) no-repeat center/cover; }
  .header .logo {
    font-size: 140px; }
  .header .secondary .text-bigger {
    font-size: 50px; }
  .header .secondary .text-smaller {
    font-size: 30px; }
  .block-form {
    margin-top: 1rem; }
  .footer .insurance-block .insurance-icon {
    width: 76px;
    height: 82px; }
  .footer .insurance-block .insurance-text .text-bigger {
    font-size: 26px; }
  .footer .insurance-block .insurance-text .text-smaller {
    font-size: 18px; } }

@media only screen and (max-width: 1024px), screen and (max-height: 660px) {
  body {
    background: url(../img/bg_1024.png) no-repeat center/cover; }
  .wrapper {
    padding: 1.7rem 4rem; }
  .header .logo {
    font-size: 90px;
    margin: 0 0 0 -.5rem;
    text-shadow: none;
    letter-spacing: -.2rem; }
  .header .secondary {
    margin-top: .2rem; }
    .header .secondary .text-bigger {
      font-size: 40px; }
    .header .secondary .text-smaller {
      font-size: 24px; }
  .block-form {
    margin-top: 1.5rem;
    width: 400px;
    background: #001d3d;
    box-shadow: 2px 2px 7px #0e2251;
    padding: 15px 12px 15px; }
    .block-form .block-number .text {
      width: 280px; }
    .block-form .block-number .inputs {
      height: 100%;
      width: 100%; }
      .block-form .block-number .inputs .input-telephone {
        height: 50px;
        width: 100%;
        font-size: 24px;
        margin-left: 15px; }
    .block-form .block-number .error {
      position: relative;
      top: .7rem;
      bottom: auto;
      right: auto;
      left: auto;
      padding-bottom: .5rem; }
      .block-form .block-number .error img {
        width: 25px;
        height: 25px; }
      .block-form .block-number .error span {
        font-size: 16px; }
    .block-form .block-currency .text {
      color: #c1fcfe;
      font-size: 18px;
      padding-bottom: .5rem; }
    .block-form .block-currency .selectize-control.selectize-currency .selectize-input {
      width: 100%; }
    .block-form .block-notify {
      -ms-flex-align: start;
          align-items: flex-start; }
      .block-form .block-notify span {
        width: 240px; }
    .block-form .btn-submit {
      display: block;
      width: 300px;
      height: 55px;
      font-size: 22px;
      transition: all .3s ease; }
  .footer {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 0; }
    .footer .insurance-block .insurance-icon {
      width: 85px;
      height: 92px; }
    .footer .insurance-block .insurance-text {
      width: 250px; }
      .footer .insurance-block .insurance-text .text-bigger {
        font-size: 28px; }
      .footer .insurance-block .insurance-text .text-smaller {
        font-size: 18px; }
  .selectize-control.single .selectize-input:after {
    right: 15px; }
  .selectize-control .selectize-input {
    width: 125px;
    height: 50px;
    font-size: 24px;
    padding: 8px 15px; }
  .selectize-control .selectize-dropdown-content {
    max-height: 130px;
    font-size: 24px; }
  .selectize-control .selectize-dropdown [data-selectable] {
    padding: 10px; } }

@media only screen and (max-width: 875px) {
  .wrapper {
    padding: .5rem 1rem; } }

@media only screen and (max-width: 800px), screen and (max-height: 565px) {
  body {
    background: url(../img/bg_640.png) no-repeat center/cover; }
  .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
  .header {
    height: 100%;
    margin-top: 5rem;
    padding-bottom: 100px; }
    .header .logo {
      font-size: 70px; }
    .header .secondary {
      width: 300px; }
      .header .secondary .text-bigger {
        font-size: 30px; }
      .header .secondary .text-smaller {
        font-size: 18px; }
  .block-form {
    margin: 0;
    background: rgba(0, 29, 61, 0.8); }
    .block-form .block-number .error img {
      width: 25px;
      height: 25px; }
    .block-form .block-number .error span {
      font-size: 16px; }
    .block-form .block-currency .text {
      color: #c1fcfe;
      font-size: 18px;
      padding-bottom: .5rem; }
    .block-form .block-currency .selectize-control.selectize-currency .selectize-input {
      width: 100%; }
    .block-form .block-notify span {
      width: 240px; }
    .block-form .btn-submit {
      display: block;
      width: 80%;
      height: 55px;
      font-size: 22px;
      transition: all .3s ease; }
  .footer {
    right: auto;
    left: 0; }
    .footer .insurance-block .insurance-text {
      width: 250px; }
      .footer .insurance-block .insurance-text .text-bigger {
        font-size: 20px; }
      .footer .insurance-block .insurance-text .text-smaller {
        font-size: 14px; }
  .selectize-control .selectize-dropdown-content {
    font-size: 24px; } }

@media only screen and (max-width: 760px), screen and (max-height: 385px) {
  .header {
    margin-top: 2rem; }
  .block-form {
    width: 300px; }
    .block-form .block-number .text {
      font-size: 14px; }
    .block-form .block-number .inputs .input-telephone {
      height: 35px;
      font-size: 18px; }
    .block-form .block-number .error img {
      width: 20px;
      height: 20px; }
    .block-form .block-number .error span {
      font-size: 12px; }
    .block-form .block-currency .text {
      font-size: 14px; }
    .block-form .block-currency .selectize-control.selectize-currency .selectize-input {
      font-size: 16px; }
    .block-form .block-notify img {
      width: 20px;
      height: 20px; }
    .block-form .block-notify span {
      font-size: 12px; }
    .block-form .btn-submit {
      font-size: 16px;
      width: 220px;
      height: 40px; }
  .footer .insurance-block .insurance-text {
    width: 220px;
    padding-left: 10px; }
    .footer .insurance-block .insurance-text .text-bigger {
      font-size: 16px; }
    .footer .insurance-block .insurance-text .text-smaller {
      font-size: 12px; }
  .selectize-control .selectize-input {
    font-size: 18px;
    height: 35px;
    width: 100px; }
  .selectize-control .selectize-dropdown-content {
    font-size: 18px; } }

@media only screen and (max-width: 639px) {
  .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: inherit;
        justify-content: inherit;
    -ms-flex-flow: column;
        flex-flow: column; }
  .header {
    margin-top: 0;
    padding: 0; }
  .block-form {
    margin-top: 1rem; }
  .footer {
    position: relative;
    margin-top: 2rem; } }

@media only screen and (max-width: 450px) {
  body {
    background: url(../img/bg_320.png) no-repeat center/cover; }
  .wrapper {
    padding: .5rem; } }

@media only screen and (max-width: 320px) {
  .block-form {
    width: 100%; }
  .footer {
    width: 100%;
    margin-top: 1rem; }
    .footer .insurance-block {
      -ms-flex-pack: center;
          justify-content: center; }
      .footer .insurance-block .insurance-text {
        width: 180px; } }

@media only screen and (max-height: 860px) {
  .footer {
    margin-top: 4rem; } }

@media only screen and (max-height: 800px) {
  .footer {
    margin-top: 1rem; } }

@media only screen and (max-height: 320px) {
  body {
    overflow: auto;
    height: auto; } }

/*# sourceMappingURL=responsive.css.map */
